@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*------------------------------------------------------------------------------General*/
*{
    margin:0;
    padding:0;
    border:0;
}
body{
    color:#16A5B9;
    font-family:"Red hat display", sans-serif;
    background-color:#fafafa;
}

/*--------------------------------------------------Nav*/
.nav-color{
    background-color:#fafafa;;
}
.nav-item{
    padding-top:10px;
    margin-left:50px;
    padding-bottom:10px;
}
.links{
    text-decoration:none;
    font-family:inherit;
    color: inherit;
    list-style:none;
    font-size:18px;
}

#menu-button{
    float:left;
    color:#16A5B9;
    font-size:30px;
}

#nav-logo {
    text-align: center;
    margin-right: auto;
    margin-left:auto;
    color:inherit;
    padding-top:30px;
}

#login a, #nav-logo a{
    text-decoration:none;
}
#login{
    float:right;
    font-size:10px;
    color:inherit;
    padding-top: 30px;
}
#nav-logo a:hover{
    color:orange;
}
#login a:hover{
  color:orange;
}

.links-hover a{
    text-decoration:none;
}
.links-hover a:hover{
    color:orange;
}



/*------------------------------Prevents from closing instantly*/
.navbar-collapse.collapse.in {
  display: block!important;
}


/*--------------------------------------------------------------------------------Index*/
/*--------------------------------------------------Hero image*/

/*----------------------------------------------------------------------------Locations*/
/*----------------------------------------------------------------------------Sign Up*/
/*--------------------------------------------------Footer*/
footer{
    background-color:#16A5B9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.social-networks{
  text-align:center;
}

.social-networks li{
  display:inline;
}

.social-networks i{
  font-size:160%;
  padding: 5%;
  margin:1%;
  color: #fafafa;
}

.social-networks i:hover{
    color:orange;
}